.default-color0.chart-bar { -fx-bar-fill: aqua; }
.default-color1.chart-bar { -fx-bar-fill: chartreuse; }
.default-color2.chart-bar { -fx-bar-fill: crimson; }
.default-color3.chart-bar { -fx-bar-fill: gold; }
.default-color4.chart-bar { -fx-bar-fill: fuchsia; }
.default-color5.chart-bar { -fx-bar-fill: green; }
.default-color6.chart-bar { -fx-bar-fill: deepskyblue; }
.default-color7.chart-bar { -fx-bar-fill: saddlebrown; }
.default-color8.chart-bar { -fx-bar-fill: slategrey; }
.default-color9.chart-bar { -fx-bar-fill: teal; }
.default-color10.chart-bar { -fx-bar-fill: chocolate; }


.default-color0.chart-pie { -fx-pie-color: aqua; }
.default-color1.chart-pie { -fx-pie-color: chartreuse; }
.default-color2.chart-pie { -fx-pie-color: crimson; }
.default-color3.chart-pie { -fx-pie-color: gold; }
.default-color4.chart-pie { -fx-pie-color: fuchsia; }
.default-color5.chart-pie { -fx-pie-color: green; }
.default-color6.chart-pie { -fx-pie-color: deepskyblue; }
.default-color7.chart-pie { -fx-pie-color: saddlebrown; }
.default-color8.chart-pie { -fx-pie-color: slategrey; }
.default-color9.chart-pie { -fx-pie-color: teal; }
.default-color10.chart-pie { -fx-pie-color: chocolate; }



